/****  GENERAL ****/

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6A200;
}

.page {
    margin: 2em;
    background-color: white;
}

div, header, footer, nav, article {
    display: flex;
    flex: 1;
    justify-content: center;
}

img, video {
    width: 100%;
}

.colonne {
    display: flex;
    flex-direction: column;
}

/* .page{
	display: flex;
} */

header {
    flex: 0.5;
    /* border:  solid red 1px; */
    justify-content: center;
}

.logo {
    flex: 0.5;
    /* padding: 1em; */
}

.menu {
    flex: 1;
    /* justify-content: center; */
    align-items: center;
    /* justify-content: space-around; */
    display: flex;
    flex: 0.7;
}

.bouton {
    font-size: 1.7em;
    font-weight: bolder;
    border-top: solid 2px goldenrod;
    border-bottom: solid 2px goldenrod;
}

.bouton:hover {
    font-size: 2.2em;
    font-weight: 1900;
    border-top: double 4px goldenrod;
    border-bottom: double 5px goldenrod;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: goldenrod;
}

.container {
    flex: 1;
    /* border:  solid rgb(30, 255, 0) 1px */
}

.espaceh {
    flex: 0.5;
    /* border:  solid rgb(30, 255, 0) 1px */
}

.espace {
    flex: none;
    height: 15vh;
    /* border:  solid rgb(0, 60, 255) 1px */
}

.espacev {
    flex: 0.1;
    /* border:  solid rgb(30, 255, 0) 1px */
}

footer {
    /* height: 5vh; */
    background-color: black;
    padding: 1.5em;
}

.seeyou {
    font-size: 2em;
    color: white;
    padding: 0.3em;
}

.description {
    padding-top: 2em;
}

.prix {
    padding: 0.5em;
    font-weight: bold;
}

img:hover {
    transform: rotateY(180deg);
}

.top {
    height: 10vh;
    width: 10vh;
    /* display: none; */
    position: relative;
    z-index: 1000;
    /* bottom: 150px; */
    /* right: 40px; */
    left: 90vw;
}