body, div {
    display: flex;
    flex: 1;
}
img{
    width: 100%;
}
.ligne {
    display: flex;
    flex: 2;
    margin: 10px;
    border: black solid 2px;
}

.espace {
    flex: 1;
}
.logoDiv{
    /* border: springgreen solid 2px; */
    flex: 0.2;
}

button {
    border-radius: 10px;
    /* color: tomato;
    background-color: black; */
}

.btn {
    justify-content: center;
    align-items: center;
}

input[required] +div::before {
    display: flex;
    content: "*";
    color: red;
    margin: 3px;
    align-items: center;
}
fieldset{
    flex: 1;
    display: flex;
}
.colonne{
    flex: 1;
    flex-direction: column;
}
label{
    flex: 3;
}
input{
    flex: 2;
}
.croix{
    display: flex;
}
.valide{
    display: flex;
}
