html, body {
    margin: 0;
    padding: 0;
}

div, header, footer, nav, article {
    display: flex;
    flex: 1;
    justify-content: center;
}

img, video {
    width: 100%;
}

body {
    background-color: #E5EBF7;
}

.colonne {
    display: flex;
    flex-direction: column;
}

.logo {
    flex: 0.03;
    padding: 0.7em;
    /* border: 1px solid red;    */
}

nav {
    flex: 1;
    display: flex;
}

.bouton {
    flex: 1;
    align-items: center;
    /* border:  solid black 1px; */
    color: #0A6290;
    font-weight: bold;
    font-size: 1.3em;
}

header {
    border-bottom: 4px solid #0a6290;
    /* padding: 0.8em; */
    background-color: white;
}

.grandim img {
    position: relative;
    height: 92vh;
}

.im2 {
    display: none;
}

.titrep {
    font-size: 3em;
    font-weight: bolder;
    color: white;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 90.5%;
    left: 33%;
}

.container {
    background-color: white;
    margin: 2.5em 8em;
    box-shadow: #aebedb 00px 0px 50px;
    padding: 3em;
}

.titre {
    flex: 0.12;
    justify-content: unset;
    font-size: 1.3em;
    font-weight: bold;
    color: #0A6290;
    /* border: 1px solid red; */
}

.article1.titre {
    padding: 0;
    justify-content: flex-start;
    font-size: large;
    font-weight: bold;
    color: #0A6290;
    /* border: 1px solid red; */
}

.contenue {
    font-size: 1.2em;
    /* border: 1px solid rgb(3, 163, 37); */
}

.text {
    padding: 1em 3em;
    font-size: 1.2em;
}

.textm {
    /* padding: 1em 3em; */
    font-size: 1.2em;
}

.image{
    flex: 0.7;
    padding: 1em;
    box-shadow: #aebedb 00px 0px 50px;
}

.article1 .image {
    height: 14vw;
}

.article1 {
    padding-top: 1em;
    /* border: 1px solid red; */
}

.article .image {
    flex: 0.4;
}

.espace {
    flex: none;
    /* border: 1px solid rgb(3, 163, 37); */
    height: 6em;
    border-bottom: rgb(179, 179, 179) 2px solid;
    margin-left: -0.5em;
}

.espacebas {
    flex: 6;
    /* border: 1px solid rgb(3, 163, 37); */
}

.contenuebas {
    flex: 2;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    border-bottom: #0A6290 dotted 2px;
}

.icones img {
    height: 30px;
    width: 30px;
    margin-right: 1em;
}

.titrebas {
    flex: 0.8;
    font-size: larger;
    font-weight: bold;
    color: #0A6290;
    /* border: 1px solid red; */
    justify-content: flex-end;
}

footer {
    background-color: #0A6290;
    padding: 1.6em;
}

footer .text {
    flex: 0.30;
    color: white;
    font-size: 1.1em;
}

footer .contenue {
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}

footer .titre {
    color: white;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1000;
}

.bouton {
    position: relative;
}

.sousmenu {
    margin-top: 10em;
    display: none;
    position: absolute;
    flex-flow: column wrap;
}

.bouton:hover {
    color: white;
    background-color: #0a6290;
}

.bouton:hover .sousmenu {
    display: flex;
    z-index: 100;
    background-color: #0a6290;
    opacity: 0.7;
    float: left;
    text-align: left;
    align-items: flex-start;
    left: 0;
    width: 438px;
}

.item {
    flex: 1.5;
    padding: 0.4em;
    margin: 3px;
}
.phone{
    display: none;
}
/* .im1,.titrep{
    display: flex;
}
.im2{
    display: none;
} */