#gre {
    height: 730px;
    width: 70%;
    background:green;
}
#bl{
    height: 220px;
    width: 70%;
    background: blue;
}
#re {
    height: 730px;
    width: 30%;
    background:red;
   
}
#yel{
    height: 220px;
    width: 30%;
    background: yellow;
    position: absolute;
    right: 4px;
    top: 738px;
    
}
.topp{
    display:flex;
}