body {
    margin: 0;
    padding: 0;
}

div {
    display: flex;
    flex: 1;
    justify-content: center;
}

.ligne {
    /* border: 1px solid red; */
    flex: 1;
    padding: 0.6em;
}

.titrep {
    justify-content: center;
}

.titre {
    font-size: 1.3em;
    font-weight: bolder;
    color: white;
    background-color: turquoise;
    border: 1px solid white;
}
.cache{
    display: none;
}
a{
    display: flex;
    text-decoration: none;
    flex: 1;
}
.sousTi{
    font-size: 1.5em;
    font-weight: bold;
    align-items: center;
    border: 1px solid white;
    border-radius: 0.4em;
    background-color: aqua;
}
.contenue{
    /* display: flex; */
    /* flex: 1; */
    justify-content: flex-start;
    font-size: 0.7em;
    padding: 0.9em;
    margin: 0.5em 0;
    border: 1px solid white;
    border-radius: 0.4em;
    background-color: rgb(200, 216, 216);
}